<div class="container">
<p id="notice"><%= notice %></p>
 <h1>Users</h1>
 <%= link_to 'New User', new_user_path  , class:"btn btn-outline-primary"%>
 <br><br>

  <div class="row">
    <div class="col-md-6">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
             <th>City</th>
            <th>Country</th>
            <th>Phone</th>
            <th colspan="3"></th>
          </tr>
       </thead>
      <tbody>

        <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.phone %></td>
          <% @address = Address.find_by_user_id(user.id)%>

                <td><%= @address.city %></td> 
                <td><%= @address.state %> </td>
            
          <td><%= link_to 'Show', user %></td>
          <td><%= link_to 'Edit', edit_user_path(user) %></td>
          <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
      </tbody>
</table>

<br>

<%# <%= link_to 'search user by address', address_count_path , class:"btn btn-outline-primary" %> 

    <h5>Search address </h5>
    <input type = "text" name = "search" id = "search" class="form-control"  onkeyup = "search_user(id)" placeholder = "Enter city , country , district" >

  <div id = "result_dev">
   <%# resulted values are show will be here %>
  </div>

</div>


<script type="text/javascript">
    function search_user(){
      var query = document.getElementById("search").value
      console.log(query);
      if (query) {
        $("#result_dev").show()
       $.ajax({
        url: "<%= search_address_path %>",
        data: {'address': query}
      })
      } else {  
        $("#result_dev").hide()
        
      }
      
    }

</script>

