<div class="container mt-5 border p-5">
<% if @address_count > 0 %>
<h4>  users from indore is : <%= @address_count%> </h4> 

<p>number of users from all cities  <%= @count.keys%> <p>

<table class="table">
  <thead>

    <tr>
    <th>city</th>
    <th>number of user</th>
    </tr>
   
  </thead>

  <tbody>
    <% @count.each do |key , value|%>
    <tr>
    <td><%= key %></td>
    <td><%= value %></td>
    <%end%> 
    </tr> 
  </tbody>

</table>

<table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
             <th>City</th>
            <th>Country</th>
         
            
          </tr>
       </thead>
     <tbody>

        <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.phone %></td>
          <% @address = Address.find_by_user_id(user.id)%>
          
                <td><%= @address.city %></td> 
                <td><%= @address.state %> </td>
           </tr>
        <% end %>
      </tbody>

      <%else %>
<%= "their has been no user from this city" %>
<%end%>
</div>